<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalSizeSm">
    Click to View Terms &nbsp; Conditons
</button>
<!-- Modal-->
<div class="modal fade" id="exampleModalSizeSm" tabindex="-1" role="dialog" aria-labelledby="exampleModalSizeSm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Terms &nbsp; Conditons - Services Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div data-scroll="true" data-height="300">
                    <div dir="ltr" data-smartmail="gmail_signature">
                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                While availing payment options provided herein, the merchant will
                                neither be responsible nor assume any liability, whatsoever in respect of any
                                loss or damage arising directly or indirectly to You due to:
                            </span>
                        </p>

                        <ol start="1" type="1" style="margin-bottom:0cm">
                            <li class="MsoNormal" style="color:rgb(82,95,127);line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                                <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif">
                                    Lack
                                    of authorization for any transaction/s, or
                                </span>
                            </li>
                            <li class="MsoNormal" style="color:rgb(82,95,127);line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                                <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif">
                                    Exceeding
                                    the preset limit mutually agreed by You and the "Bank/s", or
                                </span>
                            </li>
                            <li class="MsoNormal" style="color:rgb(82,95,127);line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                                <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif">
                                    Any
                                    payment issues arising out of the transaction, or
                                </span>
                            </li>
                            <li class="MsoNormal" style="color:rgb(82,95,127);line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                                <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif">
                                    Decline
                                    of transaction for any other reason/s
                                </span>
                            </li>
                        </ol>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                All payments made against the purchases/services on Website/store by you
                                shall be mandatorily in Indian Rupees and within the territory of India. The
                                payment link will not facilitate transaction in any other form of currency with
                                respect to the purchases made on Website/Store.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                Before shipping / delivering your order to you, Seller may request you
                                to provide supporting documents (including but not limited to Govt. issued ID
                                and address proof) to establish the ownership of the payment instrument used by
                                you for your purchase. This is done in the interest of providing a safe online
                                shopping environment to users.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                <br>
                                Further:
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                1. Transactions, Transaction Price and all commercial terms such as
                                Delivery, Dispatch of products and/or services are on a principal-to- principal
                                bipartite contractual basis between the buyer and seller and the payment
                                facility is merely used by the Buyer and Seller to facilitate completion of the
                                Transaction.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                2. You understand, accept and agree that the payment facility provided
                                by seller is neither a banking nor financial service but is merely a
                                facilitator providing automated online electronic payment.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                <br>
                                <b>Payment Facility for Buyers:</b>
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt 48pt;line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:10pt;font-family:Symbol;color:rgb(82,95,127)">·<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;"> </span></span><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                You, as a Buyer,
                                understand that upon initiating a Transaction You are entering into a legally
                                binding and enforceable contract with the Seller to purchase the products and
                                /or services from the Seller using the Payment Facility, and You shall pay the
                                Transaction Price through your Issuing Bank to the Seller using the Payment
                                Facility.
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt 48pt;line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:10pt;font-family:Symbol;color:rgb(82,95,127)">·<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;"> </span></span><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                You, as a Buyer,
                                may agree with the Seller through personal/ telephonic/electronic communication
                                and electronic records and using the automated features as may be provided by
                                Payment Facility on any extension / increase in the Dispatch and/or Delivery
                                time and the Transaction shall stand amended to such extent. Any such extension
                                / increase of Dispatch / Delivery time or subsequent novation / variation of
                                the Transaction should be in compliance with Payment Facility Rules and
                                Policies.
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt 48pt;line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:10pt;font-family:Symbol;color:rgb(82,95,127)">·<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;"> </span></span><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                You, as a Buyer,
                                shall notify the seller immediately upon non delivery within the time period as
                                provided in Policies. Non notification by you of non-delivery within the time
                                period specified in the Policies shall be construed as a deemed Delivery in
                                respect of that Transaction.
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt 48pt;line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:10pt;font-family:Symbol;color:rgb(82,95,127)">·<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;"> </span></span><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                You, as a Buyer,
                                shall be entitled to claim a refund of the Transaction Price (as Your sole and
                                exclusive remedy) in case You do not receive the Delivery within the time
                                period agreed in the Transaction or within the time period as provided in the
                                Policies, whichever is earlier. In case you do not raise a refund claim with
                                the seller within the stipulated time then this would make you ineligible for a
                                refund.
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt 48pt;line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:10pt;font-family:Symbol;color:rgb(82,95,127)">·<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;"> </span></span><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                Refund, if any,
                                shall be made at the same Issuing Bank from where Transaction Price was
                                received. – This is correct.
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt 48pt;line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:10pt;font-family:Symbol;color:rgb(82,95,127)">·<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;"> </span></span><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                Refund shall be
                                made in Indian Rupees only and shall be equivalent to the Transaction Price
                                received in Indian Rupees.
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt 48pt;line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:10pt;font-family:Symbol;color:rgb(82,95,127)">·<span style="font-variant-numeric:normal;font-variant-east-asian:normal;font-stretch:normal;font-size:7pt;line-height:normal;font-family:&quot;Times New Roman&quot;"> </span></span><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                Refund shall be as
                                per the sale conditions and shall be subject to Buyer complying with Policies.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                4. Seller reserves the right to impose limits on the number of
                                Transactions or Transaction Price which seller may receive from an individual
                                Valid Credit/Debit/ Cash Card / Valid Bank Account/ and such other
                                infrastructure or any other financial instrument directly or indirectly through
                                payment aggregator or through any such facility authorized by Reserve Bank of
                                India to provide enabling support facility for collection and remittance of
                                payment or by an individual Buyer during any time period, and reserves the
                                right to refuse to process Transactions exceeding such limit.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                5. Seller reserves the right to refuse to process Transactions by Buyers
                                with a prior history of questionable charges including without limitation
                                breach of any agreements by Buyer with seller or breach/violation of any law or
                                any charges imposed by Issuing Bank or breach of any policy.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                7. The seller shall be entitled to withhold the transaction price and to
                                intimate law enforcement officials if the seller has reason to suspect that the
                                buyer is engaged in any form of illegal activity.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                8. The buyer acknowledges that the seller will not be liable for any
                                damages, interests or claims etc. resulting from not processing a
                                transaction/transaction price or any delay in processing a
                                transaction/transaction price which is beyond the control of the buyer.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif"><b><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">Insurance</span></b><span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)"></span></p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                1. I understand that the insurance plan opted by me is on a voluntary
                                basis.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                2. I am aware that there are similar insurance plans available in the
                                market.
                            </span>
                        </p>

                        <p class="MsoNormal" style="line-height:normal;background-image:initial;background-position:initial;background-size:initial;background-repeat:initial;background-origin:initial;background-clip:initial;margin:0cm 0cm 8pt;font-size:11pt;font-family:Calibri,sans-serif">
                            <span style="font-size:12pt;font-family:&quot;Open Sans&quot;,sans-serif;color:rgb(82,95,127)">
                                3. I have understood the features and agree to proceed with my
                                application.
                            </span>
                        </p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt;line-height:107%;font-size:11pt;font-family:Calibri,sans-serif">&nbsp;</p>

                        <p class="MsoNormal" style="margin:0cm 0cm 8pt;line-height:107%;font-size:11pt;font-family:Calibri,sans-serif">&nbsp;</p>
                    </div>
                    <div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>