<div _ngcontent-c7="" class="card-body">
    <h3 _ngcontent-c7=""> TERMS AND CONDITIONS - Services Payment </h3>
    <!----><!---->
    <div _ngcontent-c7="" class="termNcondition-Container ng-star-inserted">
        <p _ngcontent-c7="">While availing payment options provided herein, the merchant will neither be responsible nor assume any liability, whatsoever in respect of any loss or damage arising directly or indirectly to You due to:</p>
        <ol _ngcontent-c7="">
            <li _ngcontent-c7="">Lack of authorization for any transaction/s, or</li>
            <li _ngcontent-c7="">Exceeding the preset limit mutually agreed by You and the "Bank/s", or</li>
            <li _ngcontent-c7="">Any payment issues arising out of the transaction, or</li>
            <li _ngcontent-c7="">Decline of transaction for any other reason/s</li>
        </ol>
        <p _ngcontent-c7=""></p>
        <p _ngcontent-c7="">All payments made against the purchases/services on Website/store by you shall be mandatorily in Indian Rupees and within the territory of India. The payment link will not facilitate transaction in any other form of currency with respect to the purchases made on Website/Store.</p>
        <p _ngcontent-c7=""> Before shipping / delivering your order to you, Seller may request you to provide supporting documents (including but not limited to Govt. issued ID and address proof) to establish the ownership of the payment instrument used by you for your purchase. This is done in the interest of providing a safe online shopping environment to users.</p>
        <p _ngcontent-c7=""><br _ngcontent-c7="">Further:</p>
        <p _ngcontent-c7="">1. Transactions, Transaction Price and all commercial terms such as Delivery, Dispatch of products and/or services are on a principal-to- principal bipartite contractual basis between the buyer and seller and the payment facility is merely used by the Buyer and Seller to facilitate completion of the Transaction.</p>
        <p _ngcontent-c7="">2. You understand, accept and agree that the payment facility provided by seller is neither a banking nor financial service but is merely a facilitator providing automated online electronic payment.</p>
        <p _ngcontent-c7=""></p>
        <p _ngcontent-c7=""><br _ngcontent-c7=""><strong _ngcontent-c7="">Payment Facility for Buyers:</strong></p>
        <ul _ngcontent-c7="" style="margin-left: 16px;">
            <li _ngcontent-c7="">You, as a Buyer, understand that upon initiating a Transaction You are entering into a legally binding and enforceable contract with the Seller to purchase the products and /or services from the Seller using the Payment Facility, and You shall pay the Transaction Price through your Issuing Bank to the Seller using the Payment Facility.</li>
            <li _ngcontent-c7="">You, as a Buyer, may agree with the Seller through personal/ telephonic/electronic communication and electronic records and using the automated features as may be provided by Payment Facility on any extension / increase in the Dispatch and/or Delivery time and the Transaction shall stand amended to such extent. Any such extension / increase of Dispatch / Delivery time or subsequent novation / variation of the Transaction should be in compliance with Payment Facility Rules and Policies.</li>
            <li _ngcontent-c7="">You, as a Buyer, shall notify the seller immediately upon non delivery within the time period as provided in Policies. Non notification by you of non-delivery within the time period specified in the Policies shall be construed as a deemed Delivery in respect of that Transaction.</li>
            <li _ngcontent-c7="">You, as a Buyer, shall be entitled to claim a refund of the Transaction Price (as Your sole and exclusive remedy) in case You do not receive the Delivery within the time period agreed in the Transaction or within the time period as provided in the Policies, whichever is earlier. In case you do not raise a refund claim with the seller within the stipulated time then this would make you ineligible for a refund.</li>
            <li _ngcontent-c7="">Refund, if any, shall be made at the same Issuing Bank from where Transaction Price was received. – This is correct.</li>
            <li _ngcontent-c7="">Refund shall be made in Indian Rupees only and shall be equivalent to the Transaction Price received in Indian Rupees.</li>
            <li _ngcontent-c7="">Refund shall be as per the sale conditions and shall be subject to Buyer complying with Policies.</li>
        </ul>
        <p _ngcontent-c7=""></p>
        <p _ngcontent-c7=""></p>
        <p _ngcontent-c7="">4. Seller reserves the right to impose limits on the number of Transactions or Transaction Price which seller may receive from an individual Valid Credit/Debit/ Cash Card / Valid Bank Account/ and such other infrastructure or any other financial instrument directly or indirectly through payment aggregator or through any such facility authorized by Reserve Bank of India to provide enabling support facility for collection and remittance of payment or by an individual Buyer during any time period, and reserves the right to refuse to process Transactions exceeding such limit.</p>
        <p _ngcontent-c7="">5. Seller reserves the right to refuse to process Transactions by Buyers with a prior history of questionable charges including without limitation breach of any agreements by Buyer with seller or breach/violation of any law or any charges imposed by Issuing Bank or breach of any policy.</p>
        <p _ngcontent-c7="">7. The seller shall be entitled to withhold the transaction price and to intimate law enforcement officials if the seller has reason to suspect that the buyer is engaged in any form of illegal activity.</p>
        <p _ngcontent-c7="">8. The buyer acknowledges that the seller will not be liable for any damages, interests or claims etc. resulting from not processing a transaction/transaction price or any delay in processing a transaction/transaction price which is beyond the control of the buyer.</p>
        <p _ngcontent-c7=""><strong _ngcontent-c7="">Insurance</strong></p>
        <p _ngcontent-c7="">1. I understand that the insurance plan opted by me is on a voluntary basis.</p>
        <p _ngcontent-c7="">2. I am aware that there are similar insurance plans available in the market.</p>
        <p _ngcontent-c7="">3. I have understood the features and agree to proceed with my application.</p>
    </div>
    <form _ngcontent-c7="" autocomplete="off" novalidate="" class="ng-untouched ng-pristine ng-invalid">
        <div _ngcontent-c7="" class="form-group mt-3">
            <div _ngcontent-c7="" class="custom-control custom-control-alternative custom-checkbox">
                <input _ngcontent-c7="" checked="false" class="custom-control-input ng-untouched ng-pristine ng-invalid" id="termsNcon" name="acceptTermsNcon" required="" type="checkbox">
                <label _ngcontent-c7="" class="custom-control-label" for="termsNcon">
                    <!----><span _ngcontent-c7="" class="text-muted ng-star-inserted" id="afterSani" style="font-size:13px;">I have carefully read the said terms and conditions, understood and hereby agree &amp; accept the same. I also confirm the details of payment requested by the Merchant and agree to pay <b> INR <span id="editAmt">100.00</span></b> for the said purchases.</span><!---->
                </label>
                <!---->
            </div>
        </div>
        <div _ngcontent-c7="" class="text-center"></div>
