<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=2.0.12.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
    <sectionGroup name="nwebsec">
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=6.0.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net configSource="log4net.config" />
  <appSettings>
    <add key="aspnet:SuppressSameSiteNone" value="true" />
    <add key="Running" value="Live" />
    <add key="reCaptchaSiteKey" value="6LfKm64aAAAAABmUY7Pa2VbdkBB3dKFkXEWLjkgm" />
    <add key="reCaptchaSecretKey" value="6LfKm64aAAAAAHUr64ZW5dOIi1AHOGFphFSSdWVi" />
    <add key="MaxMindDb" value="C:\git\CreditCard2Cash\PaymentGateway\PaymentGateway\App_Data\GeoLite2-Country.mmdb" />
    <add key="AWSAccessKey" value="AKIAQ7LQKU3JP32JZOEA" />
    <add key="AWSSecretKey" value="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" />
    <add key="LogTableName" value="Test-Log" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MerchantDealer" value="d527ebfb-0778-4484-98ef-f9197495857c" />
    <add key="ccAvenueTestUrl" value="https://test.ccavenue.com/transaction.do?command=initiateTransaction" />
    <add key="ccAvenueLiveUrl" value="https://test.ccavenue.com/transaction.do?command=initiateTransaction" />
    <add key="RedisServer" value="127.0.0.1:6379" />
    <add key="MaxBadIpCount" value="50" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="WhatsAppURLKey" value="150476" />
  </appSettings>
  <connectionStrings>
    <add name="MsSql" connectionString="Data Source=c2crds.c4zomrvhhn5n.ap-south-1.rds.amazonaws.com;Initial Catalog=C2C;User ID=c2cadmin;password=Test11!!" />
    <!--<add name="MsSql" connectionString="Data Source=c2crds.c4zomrvhhn5n.ap-south-1.rds.amazonaws.com;Initial Catalog=c2c;User ID=c2cadmin;password=Test11!!" />-->
    <add name="PgLogger" connectionString="Data Source=c2crds.c4zomrvhhn5n.ap-south-1.rds.amazonaws.com;Initial Catalog=Logger;User ID=c2cadmin;password=Test11!!" />
    <add name="AuditTrial" connectionString="Data Source=c2crds.c4zomrvhhn5n.ap-south-1.rds.amazonaws.com;Initial Catalog=AuditTrial;User ID=c2cadmin;password=Test11!!" />
  </connectionStrings>
  <system.web>
    <roleManager cookieRequireSSL="true" cookieName="rm" cookieProtection="All" />
    <trace enabled="false" />
    <compilation targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" requestValidationMode="4.0" enableHeaderChecking="true" maxRequestLength="1048576" maxQueryStringLength="1024" executionTimeout="110" maxUrlLength="4096" />
    <httpCookies domain="paysecurely.online" httpOnlyCookies="true" requireSSL="true" host="paysecurely.online" />
    <machineKey validation="SHA1" decryption="AES" validationKey="EB87B85F4B86F420AD21819CD939EE812D89FE39D067B2144A8E1825711BF94BF3F652049004E4F4D51E56EC52CA927C9467EFA3958EF6536725C1A83144DA73" decryptionKey="5B993A0DFB28A0924F4498ECC15DF73ABE44CE89096CD4E546AA72A835D9C0FB" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/ErrorHandler/NotFound" />
      <error statusCode="500" redirect="~/ErrorHandler/Index" />
    </customErrors>
    <sessionState mode="Custom" timeout="20" customProvider="MySessionStateStore">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="127.0.0.1" port="6379" accessKey="" ssl="false" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <rewrite>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=15768000;includeSubdomains" />
        </rule>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false" />
          <action type="Rewrite" value="__Host-sess=paysecurely.online; {R:0}; SameSite=strict" />
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="." />
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=Lax" negate="true" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=6.0.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" />
      <remove name="Session" />
      <add name="Session" type="Microsoft.AspNet.SessionState.SessionStateModuleAsync, Microsoft.AspNet.SessionState.SessionStateModule, Version=1.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
    </modules>
    <defaultDocument enabled="false" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Referrer-Policy" value="strict-origin" />
        <add name="X-Permitted-Cross-Domain-Policies" value="none" />
        <add name="Permissions-Policy" value="accelerometer=(), camera=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="TraceHandler-Integrated" />
      <remove name="TraceHandler-Integrated-4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <verbs>
          <add verb="TRACE" allowed="false" />
          <add verb="TRACK" allowed="false" />
        </verbs>
        <hiddenSegments>
          <add segment="NWebsecConfig" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\git\CreditCard2Cash\PaymentGateway\PaymentGateway\logs\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.15.8.0" newVersion="3.15.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="K4os.Compression.LZ4.Streams" publicKeyToken="2186fa9121ef231d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.0.1.0" newVersion="2020.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler extension=".cs" language="c#;cs;csharp" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701;612;618" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <compiler extension=".vb" language="vb;vbs;visualbasic;vbscript" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </compilers>
  </system.codedom>
  <nwebsec>
    <httpHeaderSecurityModule xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd">
      <redirectValidation enabled="false">
        <allowSameHostRedirectsToHttps enabled="false" httpsPorts="8443,443" />
        <add allowedDestination="https://test.ccavenue.com/" />
        <add allowedDestination="https://ccavenue.com/" />
      </redirectValidation>
      <setNoCacheHttpHeaders enabled="false" />
      <x-Robots-Tag enabled="false" noIndex="false" noFollow="false" noArchive="false" noOdp="false" noSnippet="false" noImageIndex="false" noTranslate="false" />
      <securityHttpHeaders>
        <x-Frame-Options policy="Disabled" />
        <strict-Transport-Security max-age="01:10:00" includeSubdomains="true" httpsOnly="true" preload="false" />
        <x-Content-Type-Options enabled="false" />
        <x-Download-Options enabled="false" />
        <x-XSS-Protection policy="Disabled" blockMode="true" />
        <content-Security-Policy enabled="true">
          <default-src self="true" />
          <script-src self="true" enabled="true" unsafeInline="true">
            <add source="google.com" />
            <add source="cdn.paysecurely.online" />
            <add source="www.google.com" />
            <add source="www.termsfeed.com" />
            <add source="www.gstatic.com" />
            <add source="www.maxmind.com" />
            <add source="d-ipv6.mmapiws.com" />
            <add source="device.maxmind.com" />
          </script-src>
          <style-src unsafeInline="true" self="true">
            <add source="fonts.googleapis.com" />
            <add source="d-ipv6.mmapiws.com" />
            <add source="fonts.gstatic.com" />
            <add source="cdn.paysecurely.online" />
          </style-src>
          <img-src self="true" enabled="true">
            <add source="cdn.paysecurely.online" />
          </img-src>
          <object-src enabled="true">
            <add source="none" />
          </object-src>
          <media-src none="true" />
          <frame-src enabled="true" self="true">
            <add source="cdn.paysecurely.online" />
            <add source="google.com" />
            <add source="www.google.com" />
            <add source="d-ipv6.mmapiws.com" />
            <add source="https://google.com" />
            <add source="http://www.google.com" />
          </frame-src>
          <font-src self="true" enabled="true">
            <add source="cdn.paysecurely.online" />
            <add source="fonts.googleapis.com" />
            <add source="fonts.gstatic.com" />
          </font-src>
          <connect-src enabled="true" self="true">
            <add source="cdn.paysecurely.online" />
            <add source="d-ipv6.mmapiws.com" />
          </connect-src>
          <frame-ancestors none="true" />
          <base-uri self="true" />
          <child-src enabled="true" self="true">
            <add source="google.com" />
            <add source="www.google.com" />
            <add source="cdn.paysecurely.online" />
            <add source="d-ipv6.mmapiws.com" />
            <add source="https://google.com" />
            <add source="http://www.google.com" />
          </child-src>
          <form-action self="true" enabled="true">
            <add source="test.ccavenue.com" />
          </form-action>
          <sandbox enabled="true" allow-same-origin="true" allow-popups="true" allow-scripts="true" allow-forms="true" allow-modals="true" />
          <!--<plugin-types enabled="true">
            <add media-type="application/pdf" />
            <add media-type="application/x-shockwave-flash"/>
            <add media-type="application/xaml+xml"/>
          </plugin-types>-->
          <report-uri enableBuiltinHandler="true" />
        </content-Security-Policy>
        <!-- This section works exactly like "x-Content-Security-Policy", but will output report-only headers instead. -->
        <content-Security-Policy-Report-Only enabled="false">
          <default-src self="true" />
          <script-src unsafeEval="true" unsafeInline="true" />
          <report-uri enabled="true" enableBuiltinHandler="true">
            <add report-uri="https://c2cventure.report-uri.com/r/d/csp/reportOnly" />
          </report-uri>
        </content-Security-Policy-Report-Only>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>
</configuration>
<!--ProjectGuid: 8E08182E-A076-494F-8BE9-31BC22E96F28-->