<div class="container-fluid">
    <div id="PdfDownload" class="row PdfDownload">
        <div class="col-md-12">
            <h3 class="text-center text-success font-weight-bold">
                Transaction's Details are not Available at the Moment, Please contact customer care!!!
            </h3>
        </div>
    </div>
</div>

