@{
    ViewBag.Title = "Welcome to Paysecurely.Online";
}

<div class="content d-flex flex-column flex-column-fluid pt-0" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Card-->
            <div class="card">
                <!-- begin: custom background-->
                <div class="position-absolute w-100 h-50 rounded-card-top" style="background-color: #22B9FF"></div>
                <!-- end: custom background-->
                <div class="card-body position-relative pt-5">
                    <h3 class="7 text-white text-center my-10 my-lg-1">Pay Securely.Online is owned by C2C Venture Private Limited</h3>
                    <div class="tab-content">
                        <!-- begin: Tab pane-->
                        <div class="pricing-container tab-pane show active row text-center" id="kt-pricing-2_content2" role="tabpanel" aria-labelledby="pills-tab-1">
                            <div class="card-body bg-white col-11 col-lg-12 col-xxl-10 mx-auto" style="padding-top: 0;">
                                <div class="row">
                                    <!-- begin: Pricing-->
                                    <div class="mt-10">
                                        <div class="text-center">
                                            <!--begin::Icon-->
                                            <div class="d-flex flex-center position-relative pt-8 mb-5">
                                                <span class="svg svg-fill-primary opacity-4 position-absolute">
                                                    <svg width="175" height="200">
                                                        <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                    </svg>
                                                </span>
                                                <span class="svg-icon svg-icon-5x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                                    <img src="https://cdn.paysecurely.online/assets/media/home/education.svg"
                                                         alt="learning svg icon" style="width:100px;height:200px" />
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Content-->
                                            <h4 class="font-size-h3 mb-10">E-learning</h4>
                                            <div class="d-flex flex-column line-height-xl pb-10">
                                                <span>Top Skill Courses</span>
                                                <span>Best Trainers</span>
                                                <span>Skilled Training</span>
                                                <span>Free Councelling</span>
                                            </div>
                                            <span class="font-size-h1 d-block font-weight-boldest text-dark">
                                                ₹20,000 Onwards
                                            </span>
                                            <div class="mt-7">
                                                <a href="https://c2c.education" target="_blank" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Subscribe Now</a>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!-- end: Pricing-->
                                    <!-- begin: Pricing-->
                                    <div class="mt-10">
                                        <div class="text-center">
                                            <!--begin::Icon-->
                                            <div class="d-flex flex-center position-relative pt-8 mb-5">
                                                <span class="svg svg-fill-primary opacity-4 position-absolute">
                                                    <svg width="175" height="200">
                                                        <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                    </svg>
                                                </span>
                                                <span class="svg-icon svg-icon-5x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                                    <img src="https://cdn.paysecurely.online/assets/media/home/ecommerce.svg"
                                                         alt="shopping svg icon" style="width:100px;height:200px" />
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Content-->
                                            <h4 class="font-size-h3 mb-10">Digital Shopping</h4>
                                            <div class="d-flex flex-column line-height-xl mb-10">
                                                <span>Party Order</span>
                                                <span>Wholesale Order</span>
                                                <span>On Time Delivery</span>
                                                <span>Free Estimate</span>
                                            </div>
                                            <span class="font-size-h1 d-block font-weight-boldest text-dark">
                                                ₹5,000 Onwards
                                            </span>
                                            <div class="mt-7">
                                                <a href="https://i-a.shop" target="_blank" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Buy Now</a>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!-- end: Pricing-->
                                    <!-- begin: Pricing-->
                                    <div class="mt-10">
                                        <div class="text-center">
                                            <!--begin::Icon-->
                                            <div class="d-flex flex-center position-relative pt-8 mb-5">
                                                <span class="svg svg-fill-primary opacity-4 position-absolute">
                                                    <svg width="175" height="200">
                                                        <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                    </svg>
                                                </span>
                                                <span class="svg-icon svg-icon-5x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Shopping/Cart2.svg-->
                                                    <img src="https://cdn.paysecurely.online/assets/media/home/ebike.svg"
                                                         alt="bike svg icon" style="width:100px;height:200px" />
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Content-->
                                            <h4 class="font-size-h3 mb-10">E-Bike</h4>
                                            <div class="d-flex flex-column line-height-xl mb-10">
                                                <span>Zero Emission</span>
                                                <span>Stylish Design</span>
                                                <span>Lithium Battery</span>
                                                <span>Zero Maintenance*</span>
                                            </div>
                                            <span class="font-size-h1 d-block font-weight-boldest text-dark">
                                                ₹70,000 Onwards
                                            </span>
                                            <div class="mt-7">
                                                <a href="https://www.paysecurely.online/c2c?amt=70,000" target="_blank" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Purchase</a>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!-- end: Pricing-->
                                    <!-- begin: Pricing-->
                                    <div class="mt-10">
                                        <div class="text-center">
                                            <!--begin::Icon-->
                                            <div class="d-flex flex-center position-relative pt-8 mb-5">
                                                <span class="svg svg-fill-primary opacity-4 position-absolute">
                                                    <svg width="175" height="200">
                                                        <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                    </svg>
                                                </span>
                                                <span class="svg-icon svg-icon-5x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                                    <img src="https://cdn.paysecurely.online/assets/media/home/collaboration.svg"
                                                         alt="handshaking svg icon" style="width:100px;height:200px" />
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Content-->
                                            <h4 class="font-size-h3 mb-10">Business Collaboration</h4>
                                            <div class="d-flex flex-column line-height-xl pb-10">
                                                <span>Secure Payment Solutioning</span>
                                                <span>Expert Consultancy</span>
                                                <span>Good Support</span>
                                                <span>Business Analysis</span>
                                            </div>
                                            <span class="font-size-h1 d-block font-weight-boldest text-dark">
                                                ₹30,000 Onwards
                                            </span>
                                            <div class="mt-7">
                                                <a href="#" target="_blank" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Connect Now</a>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!-- end: Pricing-->
                                    <!-- begin: Pricing-->
                                    <div class="mt-10">
                                        <div class="text-center">
                                            <!--begin::Icon-->
                                            <div class="d-flex flex-center position-relative pt-8 mb-5">
                                                <span class="svg svg-fill-primary opacity-4 position-absolute">
                                                    <svg width="175" height="200">
                                                        <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                    </svg>
                                                </span>
                                                <span class="svg-icon svg-icon-5x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                                    <img src="https://cdn.paysecurely.online/assets/media/home/payment.svg"
                                                         alt="payment svg icon" style="width:100px;height:200px" />
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Content-->
                                            <h4 class="font-size-h3 mb-10">Recharging & Bill Payments</h4>
                                            <div class="d-flex flex-column line-height-xl pb-10">
                                                <span>Faster Bill Payments</span>
                                                <span>Easy Recharges</span>
                                                <span>Upto 2% Flat Cash back</span>
                                                <span>Exclusive offers</span>
                                            </div>
                                            <span class="font-size-h1 d-block font-weight-boldest text-dark">
                                                ₹10,000 Onwards
                                            </span>
                                            <div class="mt-7">
                                                <a href="#" target="_blank" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Subscribe Now</a>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!-- end: Pricing-->
                                    <!-- begin: Pricing-->
                                    <div class="mt-10">
                                        <div class="text-center">
                                            <!--begin::Icon-->
                                            <div class="d-flex flex-center position-relative pt-8 mb-5">
                                                <span class="svg svg-fill-primary opacity-4 position-absolute">
                                                    <svg width="175" height="200">
                                                        <polyline points="87,0 174,50 174,150 87,200 0,150 0,50 87,0" />
                                                    </svg>
                                                </span>
                                                <span class="svg-icon svg-icon-5x svg-icon-primary">
                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Tools/Compass.svg-->
                                                    <img src="https://cdn.paysecurely.online/assets/media/home/certificate.svg"
                                                         alt="certificate svg icon" style="width:100px;height:200px" />
                                                    <!--end::Svg Icon-->
                                                </span>
                                            </div>
                                            <!--end::Icon-->
                                            <!--begin::Content-->
                                            <h4 class="font-size-h3 mb-10">Digital Signature Certificate</h4>
                                            <div class="d-flex flex-column line-height-xl pb-10">
                                                <span>Affordable Digital Certificates</span>
                                                <span>Individual and Organisation</span>
                                                <span>Various Themes</span>
                                                <span>Certificate Verification</span>
                                            </div>
                                            <span class="font-size-h1 d-block font-weight-boldest text-dark">
                                                ₹50,000 Onwards
                                            </span>
                                            <div class="mt-7">
                                                <a href="#" target="_blank" class="btn btn-primary text-uppercase font-weight-bolder px-15 py-3">Subscribe Now</a>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                    </div>
                                    <!-- end: Pricing-->
                                </div>
                            </div>
                        </div>
                        <!-- end: Tab pane-->
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>